:root{
  --bg:#ffffff;
  --card:#f7f8fa;
  --border:#e3e6ea;
  --primary: #f4f3ff ;
  --accent:#6f63ff;
  --text-color: #000 ;
  --submit:#ffd54f ;
}
body{
  margin:0;
  background:var(--bg);
  font-family:'Segoe UI',Roboto,system-ui;
}
.game{
  max-width:520px;
  margin:auto;
  min-height: auto;
  display:flex;
  flex-direction:column;
  padding:16px;
}
.top{
  display:flex;
  justify-content:space-between;
  font-weight:600;
  margin-bottom:12px;
}
.top > span {
   background: var(--accent) ;
   padding: 6px 10px ;
   Border-radius: 10px ;
   font-size: 12px ;
   color: #fff ;
}
#timerBox {
  
}
.card{
  flex:1;
  border:1px solid var(--border);
  border-radius:16px;
  padding:20px;
}
.q{
  font-size:24px;
  font-weight:700;
  margin-bottom:30px ;
  background:var(--primary);
  border: 2px solid var(--accent);
  text-align: center ;
  padding: 30px ;
  Border-radius: 10px ;
  color: var(--text-color) ;
}
.reasoing { font-size: 14px; } /* only for logic page */
#options{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}
.opt{
  flex:1 1 calc(50% - 12px);
  border:1px solid var(--accent);
  border-radius:14px;
  padding:14px;
  text-align:center;
  cursor:pointer;
  transition-duration: 0.3s ;
}
.opt:hover{
  background:#f1f3f6;
  transform: scale(0.98) ;
}
.submit{
  margin-top:80px;
}
.progress-text{
  font-size:12px;
  color:#fff ;
}
#submitBtn {
  background: var(--submit) ;
  color: var(--text-color) ;
  outline: none ;
  padding: 16px ;
}
