root {
 /* --font-main: system-ui, -apple-system, Roboto, Arial, sans-serif; */. /*  THIS IS FOR SYSTEM FONTS */
  --font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --body-bg: #fff ;
  --header: #fff ;
  --back-btn: # ;
}
@media (prefers-color-scheme: dark) {
:root{
   --body-bg: #000 ;
   --header: #212121 ;
   --back-btn: # ;
  }
}
/********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-main);
  animation: pageOpen 0.4s ease-out;
  background: var(--body-bg) ;
}
@keyframes pageOpen {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

button, a {
  touch-action: manipulation;
}
